################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/BridgePattern/.vs/BridgePattern/v16
/BridgePattern/.vs/BridgePattern/DesignTimeBuild/.dtbcache
/BridgePattern/bin
/BridgePattern/obj
/BridgePattern.Tests/bin
/BridgePattern.Tests/obj
